<!doctype html>
<html lang="fr">
<head>
    <title>Formulaire</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5" id="container">
        <form id="container128" class="offset-sm-2 col-8 bg-white border border-secondary" method="" >
            <div class="p-5" id="divinscription">
                <h2 class="text-center"><p>Inscription :</p></h2>
                <hr id="hr16" class="mb-4">

                <div class="form-group" id="divnom">
                        <label for="labelnom">Nom :</label>
                        <input class="form-control notempty" id="labelnom" aria-describedby="emailHelp">
                    <small class="d-none">Ce champ est oligatoire.</small>
                    </div>


                    <div class="form-group" id="divprenom">
                        <label for="labelprenom">Prénom :</label>
                        <input class="form-control notempty" id="labelprenom">
                        <small class="d-none">Ce champ est oligatoire.</small>
                    </div>


                    <div class="form-group row" id="divgenre">
                        <div class="col-3 col-form-label">Genre :</div>
                        <div class="col-3">
                            <select id="selectgenre" class="mt-2">
                            <option value="homme">Homme</option>
                            <option value="femme">Femme</option>
                        </select>
                        </div>
                        <div class="col-2 col-form-label" id="birthday">
                            <label for="datenaissance">Date de naissance :</label>
                        </div>
                        <div class="col-4" id="divnaissance">
                            <input type="date" class="form-control" id="datenaissance"> <!--input type date pour implanter direcement le calendrier dans l'input-->
                        </div>
                    </div>

                    <div class="form-group" id="divadresse">
                        <label for="adresse21">Adresse :</label>
                        <input class="form-control" id="adresse21">
                    </div>

                    <div class="form-group row" id="divcp">
                        <label for="labelcp" class="col-3 col-form-label">Code postal :</label>
                        <div class="col-3" id="div21">
                            <input id="labelcp" type="text" name="nom" class="form-control">
                        </div>
                        <label for="labelville" class="col-3 col-form-label">Ville :</label>
                        <div class="col-3" div="divville">
                            <input id="labelville" type="text" name="nom1" class="form-control">
                        </div>
                    </div>

                    <div class="form-group" id="divemail">
                        <label for="labelemail">Email :</label>
                        <input class="form-control verifemail" id="labelemail">
                        <small class="d-none">L'adresse mail n'est pas valide.</small>
                    </div>


                    <div class="form-group" id="divpseudo">
                        <label for="labelpseudo">Pseudo :</label>
                        <input class="form-control  notempty" id="labelpseudo">
                        <small class="d-none">Ce champ est obligatoire.</small>
                    </div>


                    <div class="form-group" id="divmdp">
                        <label for="labelmdp">Mot de passe :</label>
                        <input type="password" class="form-control" id="labelmdp">
                    </div>

                    <div class="form-group" id="divconfirm">
                        <label for="labelconfirm">Confirmation mot de passe :</label>
                        <input type="password" class="form-control" id="labelconfirm">
                    </div>
                    <button type="submit" class="btn btn-success w-100" id="buttonsend">Envoyer</button>
            </div>

        </form>
    </div>

<script src="../jq/jquery-3.4.1.min.js" defer></script>
<script src="../js/jsform.js" defer></script>

</body>
</html>