#navbiens, #navconnexion, #navcontact, #nav1, #nav2 {
    color: white;
}

#maps1{
    width: 100%;
    height: 500px;
}

#maps2{
    width: 100%;
    height: 500px;
}

#maps3{
    width: 100%;
    height: 500px;
}

#maps4{
    width: 100%;
    height: 500px;
}

#maps5{
    width: 100%;
    height: 500px;
}

#maps6{
    width: 100%;
    height: 500px;
}

