#img1 {height: 50px;
    width: 50px
}
<<<<<<< HEAD

.container{
    min-height: 747px;
}

body{
    background-image: url(../libs/img/race.jpg);
    background-repeat: no-repeat;
}
=======
>>>>>>> 6ff2c66c8784082f3756886a28c8c7fcf9a5cc32
