<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <script src="../Libs/JS/exercice10.12.19.js"defer></script> <!--Defer veut dire : attends que ma page html soit complètement chargé avant de charger mon script-->
    <script src="jquery-3.4.1.min.js"></script>
    <script src="mon_script.js"></script>
    <title>JS</title>


</head>
<body>
<h1> Titre principal</h1>
<div id=divOne" class="cls1" name="div3">
<p class="cls1">
    P 11
</p>
<p>
    P12
</p>
</div>

<div id="divTwo" class="cls2">
    <p class="cls1">
        P 21
    </p>
    <p id=""p22>
        P22
    </p>
    <p name="par23">
        P23
    </p>
</div>

<div id="cmptyDiv">


</div>

<div>
    <a href="#">Link</a>
    <span>text dans span</span>
</div>

</body>
</html>